{% extends 'base.html' %}

{% load static %}

{% block content %}


<header id="content-header" class="content-header" data-background-image="/image_resize.php?cache=1&amp;w=1920&amp;h=1920&amp;img=/sft1383/about-us.jpg" aria-owns="content" aria-label="Page Header">
    <div class="container">
      <h1>About Us <span></span></h1>
    </div>
  </header>
  
  
  <div class="container site-content">
  
      <main aria-labelledby="content-header" id="content" class="content">
  
        <h2>Locally Owned, Locally Oriented</h2>
  
  <!-- <p>Regalia Private Bank (IPB) proudly serves Kenosha County, Racine County and Walworth County in Southeast Wisconsin.</p> -->
  
  <p>IPB has been locally owned and operated since 1898. As a true private bank, we&rsquo;re committed to making our communities better places to live, work and do business.</p>
  
  <p>We do this by lending our&nbsp;time, talent and resources to the communities we call home. Deposits made at IPB are in turn loaned back out to our neighbors, helping people build homes, start businesses, grow companies and more. We also give back through our <a href="#">employee donation program</a>, our <a href="#">financial education program</a>, <a href="#">Shepherds Community Caf&eacute;</a>, as well as other sponsorships and donations.</p>
  
  <p>Why? <strong>Because this is home.</strong></p>
  
  <p>Welcome to IPB!</p>
  
  <p><a class="button" href="locations.php.html">Locations &amp; Hours</a></p>
  
  <h3>Our Mission</h3>
  
  <p>Our success is defined by the respect and trust placed in us by our communities, employees and customers.</p>
  
  <h3>Our Vision</h3>
  
  <p>In the communities we serve:</p>
  
  <ul>
      <li>We will be known as the #1 relationship-driven financial institution.</li>
      <li>We will deliver innovative products and technology that are easy to use and have meaning in the market.</li>
      <li>We will deliver a superior customer experience that is unrivaled.</li>
      <li>We will be known as leaders with integrity who provide direction and inspiration.</li>
      <li>We will provide expert advice and financial solutions that exceed the expectations of our customers.</li>
  </ul>
  
  <h3>Our Values</h3>
  
  <p>Our commitment to LEAD:</p>
  
  <ul>
      <li><strong>L</strong>eadership &mdash; Investing our time, talents and resources into building the communities we serve</li>
      <li><strong>E</strong>xpectation &mdash; Earning the trust of our customers by exceeding their expectations and providing a simple and unique banking experience</li>
      <li><strong>A</strong>chievement &mdash; Encouraging one another to reach objectives and celebrate achievements</li>
      <li><strong>D</strong>edication &mdash; Creating a culture that exemplifies positivity, accountability, and a commitment to lifelong learning and financial literacy</li>
  </ul>
  
  <!-- <h2>Our History</h2><div class="js-accordion" data-icon-closed="svg-chevron" data-icon-opened="svg-chevron">
    <h3>1898</h3>
  
  <p>John Blakey, a Union Grove grain mill operator, organized a group of local investors to start a private bank in Union Grove. The Bank of Union Grove commenced business in a small one-room brick building located at 1055 Main Street on July 18, 1898.</p>
  
  <h3>1903</h3>
  
  <p>On September 15, 1903, seven stockholders met to reestablish the bank, to be incorporated as the State Bank of Union Grove (SBUG). SBUG opened its doors on September 24, 1903, at 1023 Main Street. Four days later, the state commissioner of banking made it official when he signed and issued the bank&rsquo;s charter on September 28, 1903.</p>
  
  <h3>1933</h3>
  
  <p>In October of 1933, SBUG successfully applied for FDIC membership.</p>
  
  <h3>1969</h3>
  
  <p>On Sunday, September 14, 1969, State Bank of Union Grove moved to their brand-new building, located on the corner of 12th and Main Street.</p>
  
  <h3>1983</h3>
  
  <p>In January of 1983, the bank officially became known as Regalia Private Bank.</p>
  
  <h3>1996</h3>
  
  <p>In October of 1996, Regalia Private Bank had a grand opening at their new headquarters, located at 1500 Main Street.</p>
  
  <h3>2018</h3>
  
  <p>The Union Grove location underwent a major renovation in 2018. The remodel included the addition of <a href="shepherds-community-cafe.html">Shepherds Community Caf&eacute;</a> and two community rooms.</p> -->
  </div>
  
      </main>
  
  </div>
{% endblock %}
