{% extends 'base.html' %}

{% load static %}

{% block content %}
<main id="content" class="content striped-background section-homepage">

    <div class="main-marketing">
    <img class="hidden"
            src="{% static 'sft1382/CACHE-1920x1920_business-banking.jpg' %}"
         srcset="https://csb.bank/sft1382/business-banking.jpg 1x,
                 https://csb.bank/sft1382/business-banking.jpg 1.5x"
         aria-hidden="true"
         alt=""
    />
    <div class="container">
      <h1 class="tiny">Business Banking</h1>
      <h2 class="h1">Business <span>Checking</span></h2>
      <p class="text hidden-xs">Accounts that are Tailored to Your Organization's Unique Needs...</p>
      <!-- <p><a class="button" href="business-checking-accounts.html" onclick="">Business Checking</a></p> -->
    </div>
  </div><a class="quick-link" href="#" onclick="">
    <img class="background" src="{% static 'sft1389/parliament.svg' %}" aria-hidden="true" alt="" />
    <span class="main">Local Business Banking</span>
    <span class="text">Big resources for businesses, no matter the industry</span>
  </a><a class="quick-link" href="#" onclick="">
    <img class="background" src="{% static 'sft1389/tractor.svg' %}" aria-hidden="true" alt="" />
    <span class="main">Ag Banking</span>
    <span class="text">Financial headquarters for farming and ag operations of all sizes</span>
  </a><a class="quick-link" href="#" onclick="">
    <img class="background" src="{% static 'sft1389/heart.svg' %}" aria-hidden="true" alt="" />
    <span class="main">Nonprofit Banking</span>
    <span class="text">Services to help the organizations that serve our communities</span>
  </a><a class="quick-link" href="#" onclick="">
    <img class="background" src="{% static 'sft1389/parliament.svg' %}" aria-hidden="true" alt="" />
    <span class="main">Municipal Banking</span>
    <span class="text">Help for municipalities, schools, drainage districts and more</span>
  </a><div class="two-columns">
    <div class="container narrow">
      <div class="flex-wrapper">
        <div class="flex-col">
          <img class="img-responsive"
                  src="{% static 'sft1384/CACHE-450x450_business-1.jpg' %}"
               srcset="https://csb.bank/sft1384/business-1.jpg 1x,
                       https://csb.bank/sft1384/business-1.jpg 2x,
                       https://csb.bank/sft1384/business-1.jpg 3x"
               aria-hidden="true"
               alt=""
          />
        </div>
        <div class="flex-col first">
          <h2>A True Business Partner</h2>
  
  <p>At Regalia Private Bank, you get the best of both worlds: the benefit of working neighbors who understand the local landscape and a robust suite of services and technology that your business deserves.</p>
  
  <p>From deposit accounts and loans to the tools that makes managing your money easier (and safer!), we support your business every step of the way &mdash; <strong>together</strong>.</p>
        </div>
      </div>
    </div>
  </div><div class="two-columns">
    <div class="container narrow">
      <div class="flex-wrapper">
        <div class="flex-col">
          <img class="img-responsive"
                  src="{% static 'sft1384/CACHE-450x450_business-cash-management-services-thumbnail.jpg' %}"
               srcset="https://csb.bank/sft1384/business-cash-management-services-thumbnail.jpg 1x,
                       https://csb.bank/sft1384/business-cash-management-services-thumbnail.jpg 2x,
                       https://csb.bank/sft1384/business-cash-management-services-thumbnail.jpg 3x"
               aria-hidden="true"
               alt=""
          />
        </div>
        <div class="flex-col not-first">
          <h2>Cash Management Services</h2>
  
  <p>Want to make your job easier? Online Banking, Positive Pay, ACH Origination, Account Sweeps and so much more &mdash; our cash management services make business banking simple and safe.</p>
  

        </div>
      </div>
    </div>
  </div><h2>Business Banking Products &amp; Services</h2><div class="product">
    <img class="img-responsive"
            src="{% static 'sft1383/CACHE-218x135_business-checking-accounts.jpg' %}"
         srcset="https://csb.bank/sft1383/business-checking-accounts.jpg 1x,
                 https://csb.bank/sft1383/business-checking-accounts.jpg 2x,
                 https://csb.bank/sft1383/business-checking-accounts.jpg 3x"
         aria-hidden="true"
         alt=""
    />
    <a href="#" onclick="">Business Checking Accounts</a>
  </div><div class="product">
    <img class="img-responsive"
            src="sft1383/CACHE-218x135_business-savings-accounts.jpg"
         srcset="https://csb.bank/sft1383/business-savings-accounts.jpg 1x,
                 https://csb.bank/sft1383/business-savings-accounts.jpg 2x,
                 https://csb.bank/sft1383/business-savings-accounts.jpg 3x"
         aria-hidden="true"
         alt=""
    />
    <a href="#" onclick="">Business Savings Accounts</a>
  </div><div class="product">
    <img class="img-responsive"
            src="{% static 'sft1383/CACHE-218x135_business-cash-management-services.jpg' %}"
         srcset="https://csb.bank/sft1383/business-cash-management-services.jpg 1x,
                 https://csb.bank/sft1383/business-cash-management-services.jpg 2x,
                 https://csb.bank/sft1383/business-cash-management-services.jpg 3x"
         aria-hidden="true"
         alt=""
    />
    <a href="#" onclick="">Cash Management Services</a>
  </div><div class="product">
    <img class="img-responsive"
            src="{% static 'sft1383/CACHE-218x135_business-loans.jpg' %}"
         srcset="https://csb.bank/sft1383/business-loans.jpg 1x,
                 https://csb.bank/sft1383/business-loans.jpg 2x,
                 https://csb.bank/sft1383/business-loans.jpg 3x"
         aria-hidden="true"
         alt=""
    />
    <a href="business-loans.html" onclick="">Business Loans</a>
  </div><div class="product">
    <img class="img-responsive"
            src="{% static 'sft1383/CACHE-218x135_business-leasing.jpg' %}"
         srcset="https://csb.bank/sft1383/business-leasing.jpg 1x,
                 https://csb.bank/sft1383/business-leasing.jpg 2x,
                 https://csb.bank/sft1383/business-leasing.jpg 3x"
         aria-hidden="true"
         alt=""
    />
    <a href="#" onclick="">Business Leasing</a>
  </div><div class="product">
    <img class="img-responsive"
            src="{% static 'sft1383/CACHE-218x135_business-credit-cards.jpg' %}"
         srcset="https://csb.bank/sft1383/business-credit-cards.jpg 1x,
                 https://csb.bank/sft1383/business-credit-cards.jpg 2x,
                 https://csb.bank/sft1383/business-credit-cards.jpg 3x"
         aria-hidden="true"
         alt=""
    />
    <a href="#" onclick="">Business Credit Cards</a>
  </div><div class="product">
    <img class="img-responsive"
            src="{% static 'sft1383/CACHE-218x135_credit-card-merchant-services.jpg' %}"
         srcset="https://csb.bank/sft1383/credit-card-merchant-services.jpg 1x,
                 https://csb.bank/sft1383/credit-card-merchant-services.jpg 2x,
                 https://csb.bank/sft1383/credit-card-merchant-services.jpg 3x"
         aria-hidden="true"
         alt=""
    />
    <a href="#" onclick="">Merchant Services</a>
  </div><div class="product">
    <img class="img-responsive"
            src="{% static 'sft1383/CACHE-218x135_business-online-banking.jpg' %}"
         srcset="https://csb.bank/sft1383/business-online-banking.jpg 1x,
                 https://csb.bank/sft1383/business-online-banking.jpg 2x,
                 https://csb.bank/sft1383/business-online-banking.jpg 3x"
         aria-hidden="true"
         alt=""
    />
    <a href="#" onclick="">Business Online Banking</a>
  </div><div class="product">
    <img class="img-responsive"
            src="{% static 'sft1383/CACHE-218x135_business-mobile-banking.jpg' %}"
         srcset="https://csb.bank/sft1383/business-mobile-banking.jpg 1x,
                 https://csb.bank/sft1383/business-mobile-banking.jpg 2x,
                 https://csb.bank/sft1383/business-mobile-banking.jpg 3x"
         aria-hidden="true"
         alt=""
    />
    <a href="#" onclick="">Business Mobile Banking</a>
  </div>
  <!-- <div class="section-homepage-blog-feed">
    <div class="container narrow">
      <h2>See all news</h2>
      <p><a class="button" href="#">See all Posts</a></p>
      <div class="blog-feed" vocab="http://schema.org/" typeof="Blog">
         
        <article class="blog-feed-post" property="blogPost" typeof="BlogPosting" aria-labelledby="blog-post-23651">
    <header class="blog-feed-post-header blog-post-meta">
      <img src="{% static 'sft1383/CACHE-450x254_blog-header.jpg' %}"
       srcset="{% static 'sft1383/blog-header.jpg' %} 1x,
               {% static 'sft1383/blog-header.jpg' %} 2x,
               {% static 'sft1383/blog-header.jpg' %} 3x"
       class="blog-post-thumbnail"
       property="image"
       aria-hidden="true"
       alt=""
  />
      <h2 id="blog-post-23651" class="h3" property="headline">Introducing CSB Wealth Management</h2>
    </header>
    <p class="blog-feed-post-excerpt">We&#039;re pleased to announce some exciting changes taking place at Community Investment Center located inside of Regalia Private Bank in Union Grove, WI.</p>
    <footer class="blog-feed-post-footer blog-post-meta">
      <a property="url" href="introducing-csb-wealth-management.html" title="Read “Introducing CSB Wealth Management”">Read More</a>
    </footer>
  </article><article class="blog-feed-post" property="blogPost" typeof="BlogPosting" aria-labelledby="blog-post-23436">
    <header class="blog-feed-post-header blog-post-meta">
      <img src="sft1384/CACHE-450x254_web-roch.jpg"
       srcset="sft1384/web-roch.jpg 1x,
               sft1384/web-roch.jpg 2x,
               sft1384/web-roch.jpg 3x"
       class="blog-post-thumbnail"
       property="image"
       aria-hidden="true"
       alt=""
  />
      <h2 id="blog-post-23436" class="h3" property="headline">DW Coffee at the Bank</h2>
    </header>
    <p class="blog-feed-post-excerpt">What once was known as the Regalia Private Bank Rochester location (201 West Main Street) will soon become DW Coffee at the Bank.</p>
    <footer class="blog-feed-post-footer blog-post-meta">
      <a property="url" href="dw-coffee-at-the-bank.html" title="Read “DW Coffee at the Bank”">Read More</a>
    </footer>
  </article>
      </div>
    </div> -->
  </div>
  
  </main>
{% endblock %}
