{% extends 'base.html' %}

{% load static %}

{% block content %}
<main id="content" class="content striped-background section-homepage">

    <div class="main-marketing">
    <img class="hidden"
            src="{% static 'sft1382/CACHE-1920x1920_mortgage-center.jpg' %}"
         srcset="https://csb.bank/sft1382/mortgage-center.jpg 1x,
                 https://csb.bank/sft1382/mortgage-center.jpg 1.5x"
         aria-hidden="true"
         alt=""
    />
    <div class="container">
      <h1 class="tiny">Mortgage Center</h1>
      <h2 class="h1">Mortgage Center <span>WE’VE GOT THIS</span></h2>
      <p class="text hidden-xs">We know you have questions — and our loan officers have the answers. Let’s do this!</p>
      <!-- <p><a class="button" href="mortgage-services.html" onclick="">Mortgage Services</a></p> -->
    </div>
  </div><div class="two-columns">
    <div class="container narrow">
      <div class="flex-wrapper">
        <div class="flex-col">
          <img class="img-responsive"
                  src="{% static 'sft1384/CACHE-450x450_mortgage-page.jpg' %}"
               srcset="https://csb.bank/sft1384/mortgage-page.jpg 1x,
                       https://csb.bank/sft1384/mortgage-page.jpg 2x,
                       https://csb.bank/sft1384/mortgage-page.jpg 3x"
               aria-hidden="true"
               alt=""
          />
        </div>
        <div class="flex-col first">
          <h2>NEIGHBORS HELPING NEIGHBORS</h2>
  
  <p>Regalia Private Bank has earned the reputation as one of the most flexible and customer-friendly mortgage lenders in Southeast Wisconsin. Our mortgage lending team is on hand to help you when you need them &mdash; even on the weekends.</p>
  
  <p>Whether you&rsquo;re a first-time homebuyer or an existing homeowner, <strong>we&rsquo;re in this together.</strong></p>
        </div>
      </div>
    </div>
  </div><div class="mid-page-banner">
    <div class="background" style="background-image: url('sft1389/loan.svg');"></div>
    <div class="container">
      <h2>Homes</h2>
      <div><p>IPB is proud to have helped hundreds of individuals and families afford the homes best for them.</p></div>
    </div>
  </div><div class="two-columns">
    <div class="container narrow">
      <div class="flex-wrapper">
        <div class="flex-col">
          <img class="img-responsive"
                  src="{% static 'sft1384/CACHE-450x450_construction-loan-thumbnail.jpg' %}"
               srcset="https://csb.bank/sft1384/construction-loan-thumbnail.jpg 1x,
                       https://csb.bank/sft1384/construction-loan-thumbnail.jpg 2x,
                       https://csb.bank/sft1384/construction-loan-thumbnail.jpg 3x"
               aria-hidden="true"
               alt=""
          />
        </div>
        <div class="flex-col not-first">
          <h2>BUILDING&hellip;TOGETHER</h2>
  
  <p>Maybe your dream house hasn&rsquo;t been built yet. Don&rsquo;t forget to include Regalia Private Bank in your blueprint for a better home.</p>
  
  <p><a class="button" href="#">Construction Loan</a></p>
        </div>
      </div>
    </div>
  </div><h2>Mortgage Options</h2><div class="product">
    <img class="img-responsive"
            src="{% static 'sft1383/CACHE-218x135_mortgage-services.jpg' %}"
         srcset="https://csb.bank/sft1383/mortgage-services.jpg 1x,
                 https://csb.bank/sft1383/mortgage-services.jpg 2x,
                 https://csb.bank/sft1383/mortgage-services.jpg 3x"
         aria-hidden="true"
         alt=""
    />
    <a href="#" onclick="">Mortgage</a>
  </div><div class="product">
    <img class="img-responsive"
            src="{% static 'sft1383/CACHE-218x135_construction-loan.jpg' %}"
         srcset="https://csb.bank/sft1383/construction-loan.jpg 1x,
                 https://csb.bank/sft1383/construction-loan.jpg 2x,
                 https://csb.bank/sft1383/construction-loan.jpg 3x"
         aria-hidden="true"
         alt=""
    />
    <a href="#" onclick="">Construction Loan</a>
  </div>
  <!-- <div class="section-homepage-blog-feed">
    <div class="container narrow">
      <h2>Mortgage Center News</h2>
      <p><a class="button" href="news.html">See all Posts</a></p>
      <div class="blog-feed" vocab="http://schema.org/" typeof="Blog">
         
        <article class="blog-feed-post" property="blogPost" typeof="BlogPosting" aria-labelledby="blog-post-23651">
    <header class="blog-feed-post-header blog-post-meta">
      <img src="sft1383/CACHE-450x254_blog-header.jpg"
       srcset="/image_resize.php?cache=1&amp;w=450&amp;h=254&amp;img=/sft1383/blog-header.jpg 1x,
               /image_resize.php?cache=1&amp;w=900&amp;h=507&amp;img=/sft1383/blog-header.jpg 2x,
               /image_resize.php?cache=1&amp;w=1350&amp;h=760&amp;img=/sft1383/blog-header.jpg 3x"
       class="blog-post-thumbnail"
       property="image"
       aria-hidden="true"
       alt=""
  />
      <h2 id="blog-post-23651" class="h3" property="headline">Introducing CSB Wealth Management</h2>
    </header>
    <p class="blog-feed-post-excerpt">We&#039;re pleased to announce some exciting changes taking place at Community Investment Center located inside of Regalia Private Bank in Union Grove, WI.</p>
    <footer class="blog-feed-post-footer blog-post-meta">
      <a property="url" href="introducing-csb-wealth-management.html" title="Read “Introducing CSB Wealth Management”">Read More</a>
    </footer>
  </article><article class="blog-feed-post" property="blogPost" typeof="BlogPosting" aria-labelledby="blog-post-23389">
    <header class="blog-feed-post-header blog-post-meta">
      <img src="sft1383/CACHE-450x254_alerts-update-webpage.jpg"
       srcset="/image_resize.php?cache=1&amp;w=450&amp;h=254&amp;img=/sft1383/alerts-update-webpage.jpg 1x,
               /image_resize.php?cache=1&amp;w=900&amp;h=507&amp;img=/sft1383/alerts-update-webpage.jpg 2x,
               /image_resize.php?cache=1&amp;w=1350&amp;h=760&amp;img=/sft1383/alerts-update-webpage.jpg 3x"
       class="blog-post-thumbnail"
       property="image"
       aria-hidden="true"
       alt=""
  />
      <h2 id="blog-post-23389" class="h3" property="headline">New CSB Account Alerts</h2>
    </header>
    <p class="blog-feed-post-excerpt">CSB is excited to announce newly updated CSB Account Alerts are on the way beginning Wednesday, March 31st, 2021!</p>
    <footer class="blog-feed-post-footer blog-post-meta">
      <a property="url" href="account-alert-blog.html" title="Read “New CSB Account Alerts”">Read More</a>
    </footer>
  </article>
      </div>
    </div> -->
  </div>
  
  </main>
{% endblock %}
