{% extends 'base.html' %}

{% load static %}

{% block content %}
<main id="content" class="content striped-background section-homepage">

    <div class="main-marketing">
    <img class="hidden"
            src="sft1382/CACHE-1920x1920_personal-banking.jpg"
         srcset="/image_resize.php?cache=1&amp;w=1920&amp;h=1920&amp;img=https://csb.bank/sft1382/personal-banking.jpg 1x,
                 /image_resize.php?cache=1&amp;w=2280&amp;h=2280&amp;img=https://csb.bank/sft1382/personal-banking.jpg 1.5x"
         aria-hidden="true"
         alt=""
    />
    <div class="container">
      <h1 class="tiny">Personal Banking</h1>
      <h2 class="h1">Simple <span>Checking</span></h2>
      <p class="text hidden-xs">Let’s find a checking account that’s right for you!</p>
      <!-- <p><a class="button" href="personal-checking-account.html" onclick="">Checking Account Comparison</a></p> -->
    </div>
  </div><div class="two-columns">
    <div class="container narrow">
      <div class="flex-wrapper">
        <div class="flex-col">
          <img class="img-responsive"
                  src="{% static 'sft1384/CACHE-450x450_personal-banking.jpg' %}"
               srcset="https://csb.bank/sft1384/personal-banking.jpg 1x,
                       https://csb.bank/sft1384/personal-banking.jpg 2x,
                       https://csb.bank/sft1384/personal-banking.jpg 3x"
               aria-hidden="true"
               alt=""
          />
        </div>
        <div class="flex-col first">
          <h2>YOUR KNOWLEDGABLE NEIGHBORS</h2>
  
  <p>If we had a dollar for every time we heard someone say, &ldquo;You can really do that?&rdquo; &mdash; well, you get the idea. At Regalia Private Bank, we deliver much more than you might expect: the products and technology that the bigger banks offer as well as the hometown helpfulness you&rsquo;d expect from a neighbor.</p>
  
  <p>From simple savings accounts, no-fee checking accounts and car loans to the technology that makes accessing your money easier, we&rsquo;ll keep your finances on track &mdash; <strong>together.</strong><br />&nbsp;</p>
        </div>
      </div>
    </div>
  </div><div class="mid-page-banner">
    <div class="background" style="background-image: url({% static 'sft1389/money.svg' %});"></div>
    <div class="container">
      <!-- <h2>Checking Account</h2>
      <div><p>So many Southeastern Wisconsin residents have already taken advantage of CSB&rsquo;s no-fee, no-minimum-balance personal checking account.<a href="simple-checking-account.html"> Learn more about our Simple Checking Account</a>.</p></div> -->
    </div>
  </div><div class="two-columns">
    <div class="container narrow">
      <div class="flex-wrapper">
        <div class="flex-col">
          <img class="img-responsive"
                  src="{% static 'sft1384/CACHE-450x450_account-alerts-thumbnail.jpg' %}"
               srcset="https://csb.bank/sft1384/account-alerts-thumbnail.jpg 1x,https://csb.bank/sft1384/account-alerts-thumbnail.jpg 2x,https://csb.bank/sft1384/account-alerts-thumbnail.jpg 3x"
               aria-hidden="true"
               alt=""
          />
        </div>
        <div class="flex-col not-first">
          <h2>Account Alerts</h2>
  
  <p>Keep tabs on your IPB accounts with helpful email and texts. Get notified when your checking account reaches a low balance, money is withdrawn from your savings account, your loan payment is past due and more.</p>
  
  <!-- <p><a class="button" href="account-alerts.html">Account Alerts</a></p> -->
        </div>
      </div>
    </div>
  </div><h2>PERSONAL BANKING PRODUCTS &amp; SERVICES</h2><div class="product">
    <img class="img-responsive"
            src="{% static 'sft1383/CACHE-218x135_personal-checking-account.jpg' %}"
         srcset="https://csb.bank/sft1383/personal-checking-account.jpg 1x,https://csb.bank/sft1383/personal-checking-account.jpg 2x,https://csb.bank/sft1383/personal-checking-account.jpg 3x"
         aria-hidden="true"
         alt=""
    />
    <a href="#" onclick="">Personal Checking Accounts</a>
  </div><div class="product">
    <img class="img-responsive"
            src="{% static 'sft1383/CACHE-218x135_personal-savings-accounts.jpg' %}"
         srcset="https://csb.bank/sft1383/personal-savings-accounts.jpg 1x,https://csb.bank/sft1383/personal-savings-accounts.jpg 2x,https://csb.bank/sft1383/personal-savings-accounts.jpg 3x"
         aria-hidden="true"
         alt=""
    />
    <a href="#" onclick="">Personal Savings Accounts</a>
  </div><div class="product">
    <img class="img-responsive"
            src="{% static 'sft1383/CACHE-218x135_club-accounts.jpg' %}"
         srcset="https://csb.bank/sft1383/club-accounts.jpg 1x,https://csb.bank/sft1383/club-accounts.jpg 2x,https://csb.bank/sft1383/club-accounts.jpg 3x"
         aria-hidden="true"
         alt=""
    />
    <a href="#" onclick="">Club Accounts</a>
  </div><div class="product">
    <img class="img-responsive"
            src="{% static 'sft1383/CACHE-218x135_online-banking.jpg' %}"
         srcset="https://csb.bank/sft1383/online-banking.jpg 1x,
                 https://csb.bank/sft1383/online-banking.jpg 2x,
                 https://csb.bank/sft1383/online-banking.jpg 3x"
         aria-hidden="true"
         alt=""
    />
    <a href="#" onclick="">Online Banking</a>
  </div><div class="product">
    <img class="img-responsive"
            src="{% static 'sft1383/CACHE-218x135_mobile-banking.jpg' %}"
         srcset="https://csb.bank/sft1383/mobile-banking.jpg 1x,
                 https://csb.bank/sft1383/mobile-banking.jpg 2x,
                 https://csb.bank/sft1383/mobile-banking.jpg 3x"
         aria-hidden="true"
         alt=""
    />
    <a href="#" onclick="">Mobile Banking</a>
  </div><div class="product">
    <img class="img-responsive"
            src="{% static 'sft1383/CACHE-218x135_telephone-banking.jpg' %}"
         srcset="https://csb.bank/sft1383/telephone-banking.jpg 1x,
                 https://csb.bank/sft1383/telephone-banking.jpg 2x,
                 https://csb.bank/sft1383/telephone-banking.jpg 3x"
         aria-hidden="true"
         alt=""
    />
    <a href="#" onclick="">Telephone Banking</a>
  </div><div class="product">
    <img class="img-responsive"
            src="{% static 'sft1383/CACHE-218x135_card-services.jpg' %}"
         srcset="https://csb.bank/sft1383/card-services.jpg 1x,
                 https://csb.bank/sft1383/card-services.jpg 2x,
                 https://csb.bank/sft1383/card-services.jpg 3x"
         aria-hidden="true"
         alt=""
    />
    <a href="#" onclick="">Card Services</a>
  </div><div class="product">
    <img class="img-responsive"
            src="{% static 'sft1383/CACHE-218x135_personal-loans.jpg' %}"
         srcset="https://csb.bank/sft1383/personal-loans.jpg 1x,
                 https://csb.bank/sft1383/personal-loans.jpg 2x,
                 https://csb.bank/sft1383/personal-loans.jpg 3x"
         aria-hidden="true"
         alt=""
    />
    <a href="#" onclick="">Personal Loans</a>
  </div><div class="section-homepage-blog-feed">
    <!-- <div class="container narrow">
      <h2>Personal Banking News</h2>
      <p><a class="button" href="news.html">See all Posts</a></p>
      <div class="blog-feed" vocab="http://schema.org/" typeof="Blog">
         
        <article class="blog-feed-post" property="blogPost" typeof="BlogPosting" aria-labelledby="blog-post-23651">
    <header class="blog-feed-post-header blog-post-meta">
      <img src="{% static 'sft1383/CACHE-450x254_blog-header.jpg' %}"
       srcset="/image_resize.php?cache=1&amp;w=450&amp;h=254&amp;img=/sft1383/blog-header.jpg 1x,
               /image_resize.php?cache=1&amp;w=900&amp;h=507&amp;img=/sft1383/blog-header.jpg 2x,
               /image_resize.php?cache=1&amp;w=1350&amp;h=760&amp;img=/sft1383/blog-header.jpg 3x"
       class="blog-post-thumbnail"
       property="image"
       aria-hidden="true"
       alt=""
  />
      <h2 id="blog-post-23651" class="h3" property="headline">Introducing CSB Wealth Management</h2>
    </header>
    <p class="blog-feed-post-excerpt">We&#039;re pleased to announce some exciting changes taking place at Community Investment Center located inside of Regalia Private Bank in Union Grove, WI.</p>
    <footer class="blog-feed-post-footer blog-post-meta">
      <a property="url" href="introducing-csb-wealth-management.html" title="Read “Introducing CSB Wealth Management”">Read More</a>
    </footer>
  </article><article class="blog-feed-post" property="blogPost" typeof="BlogPosting" aria-labelledby="blog-post-23436">
    <header class="blog-feed-post-header blog-post-meta">
      <img src="{% static 'sft1384/CACHE-450x254_web-roch.jpg' %}"
       srcset="{% static 'sft1384/web-roch.jpg' %} 1x,
               {% static 'sft1384/web-roch.jpg' %} 2x,
               {% static 'sft1384/web-roch.jpg' %} 3x"
       class="blog-post-thumbnail"
       property="image"
       aria-hidden="true"
       alt=""
  />
      <h2 id="blog-post-23436" class="h3" property="headline">DW Coffee at the Bank</h2>
    </header>
    <p class="blog-feed-post-excerpt">What once was known as the Regalia Private Bank Rochester location (201 West Main Street) will soon become DW Coffee at the Bank.</p>
    <footer class="blog-feed-post-footer blog-post-meta">
      <a property="url" href="dw-coffee-at-the-bank.html" title="Read “DW Coffee at the Bank”">Read More</a>
    </footer>
  </article>
      </div>
    </div> -->
  </div>
  
  </main>
{% endblock %}
