{% extends 'base.html' %}

{% load static %}

{% block content %}
<!-- <header id="content-header" class="content-header" data-background-image="/image_resize.php?cache=1&amp;w=1920&amp;h=1920&amp;img=/sft1383/wire-transfer-services.jpg" aria-owns="content" aria-label="Page Header"> -->
<header id="content-header" class="content-header" aria-owns="content" aria-label="Page Header">
  <div class="container">
    <h1>Wire Transfer Services <span></span></h1>
  </div>
</header>


<div class="container site-content">

    <main aria-labelledby="content-header" id="content" class="content">

      <h2>Send &amp; Receive Money Anywhere in the World</h2>

<p>If you need to move money quickly and securely &mdash; nationally or internationally &mdash; look no further than Regalia Private Bank&rsquo;s Wire Transfer Services.</p>

<p>Wire transfers allow for the same-day movement of funds between banks. IPB can manage the following wire transfers:</p>

<ul>
	<li>Incoming domestic</li>
	<li>Outgoing domestic</li>
	<li>Incoming international</li>
	<li>Outgoing international</li>
</ul>

<p>When you wire money, collected funds are credited to other banks the same day that the wire is originated. An outgoing wire request must be received prior to 3 p.m. to ensure the recipient receives same-day credit.</p>

<p>Fees apply.</p>

<h3>How to Make a Wire Transfer</h3>

<h4>Online Banking</h4>

<p>You can initiate wire transfers through Business Online Banking. Our Wire Transfer Agreement allows you to specify who, within your organization, is authorized to submit wire requests. A call-back verification process is implemented prior to releasing funds to further protect your accounts.</p>

<p>(If you haven&rsquo;t enrolled in Online Banking yet, <a href="support.html">contact us</a> to get started.)</p>

<!-- <h4>In Person</h4>

<p>Wire transfers can also be made at any of our locations.</p>

<p><a class="button" href="locations.php.html">Find a Branch</a></p> -->

    </main>

</div>
{% endblock %}
